<div class="container">
    <form #formAdd="ngForm">
        <h5 class="jumbotron-heading">Tarea en finalizada</h5>
        <hr class="mb-4">

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><small>Dirección: {{tareaModelo.DIRECCION}}</small></li>
            <li class="list-group-item"><small>Categoría: {{tareaModelo.CATEGORIA_TAREA_OPERACION}}</small></li>
            <li class="list-group-item"><small>Tarea: {{tareaModelo.EDT_TAREA}}</small></li>
            <li class="list-group-item"><small>Responsable: {{tareaModelo.RESPONSABLE}}</small></li>
            <li class="list-group-item"><small>Fecha de inicio: {{tareaModelo.FECHA_INICIO_DESCRIPCION}}</small></li>
            <li class="list-group-item"><small>Fecha de finalizacion:
                    {{tareaModelo.FECHA_COMPLETACION_DESCRIPCION}}</small></li>
            <li class="list-group-item"><small>Descripción: {{tareaModelo.DESCRIPCION}}</small></li>
        </ul>

        <hr class="mb-4">

        <div class="row bg-light">
            <div class="col text-dark bg-light">
                <div class="card-header font-italic text-center">
                    Seguimiento de la tarea
                </div>

                <br>

                <div *ngFor="let des of tareaDescripcionModelo">
                    <div *ngIf="des.ES_COMENTARIO" class="card text-white bg-info">
                        <div class="card-body">
                            <div class="card-title">
                                <small>Comentario de: {{des.EMISOR}}</small>
                            </div>
                            <div class="card-text">
                                <small>{{des.DESCRIPCION}}</small>
                            </div>
                            <p class="card-text"><small><em>{{des.FECHA_SOLICITUD_DESCRIPCION}}</em></small>
                            </p>
                        </div>
                    </div>

                    <div *ngIf="!des.ES_COMENTARIO" class="card text-white">
                        <div class="card-body bg-primary">
                            <div class="card-title"><small>Solicitud apoyo para: {{des.RECEPTOR}}</small>
                            </div>
                            <div class="card-text">
                                <small>{{des.DESCRIPCION}}</small>
                            </div>
                            <p class="card-text"><small><em>{{des.FECHA_SOLICITUD_DESCRIPCION}}</em></small>
                            </p>
                        </div>

                        <div class="card-body bg-success text-right" *ngIf="des.RESPUESTA">
                            <div class="card-text">
                                <small>{{des.RESPUESTA}}</small>
                            </div>
                            <p class="card-text"><small><em>{{des.FECHA_RESPUESTA_DESCRIPCION}}</em></small>
                            </p>
                        </div>
                    </div>

                    <hr class="mb-4">
                </div>

 

            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['/tablero']">Regresar</button>

        </div>
    </form>

</div>