<div class="container">
    <form #formAdd="ngForm" (ngSubmit)="onSubmit()">

        <h6>Modificar tipo de dirección</h6>
        <hr class="mb-4">

        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Nombre del tipo de dirección" name="nombre" #nombre="ngModel"
                    [(ngModel)]="modelo.NOMBRE" value={{modelo.NOMBRE}} required readonly>                   
            </mat-form-field>

        </div>

        <hr class="mb-4">

        <div class="btn-group btn-group-toggle">
            <button mat-icon-button type="submit" matTooltip="Guardar">
                <mat-icon>save</mat-icon>
            </button>

            <button mat-icon-button type="button" [routerLink]="['/catalogo']" matTooltip="Cancelar">
                <mat-icon>clear</mat-icon>
            </button>
        </div>

    </form>
</div>