<div class="container">
    <form #formAdd="ngForm" (ngSubmit)="onSubmit()">
        <div class="text-center">
            <img class="mb-4 ContenedorLogo" src="assets/img/sig-250-250.png" width="180" height="180">
        </div>

        <h5 class="jumbotron-heading" *ngIf="!modelo.RESPUESTA">Respuesta a solicitud de apoyo</h5>
        <h5 class="jumbotron-heading" *ngIf="modelo.RESPUESTA">Esta solicitud de apoyo ya tiene una respuesta</h5>

        <hr class="mb-4">

        <ul class="list-group list-group-flush">          
            <li class="list-group-item list-group-item-warning"><small>Tarea: {{modelo.TAREA}}</small></li>
            <li class="list-group-item list-group-item-warning"><small>Enviado por: {{modelo.EMISOR}}</small></li>            
            <li class="list-group-item list-group-item-success"><small>Fecha de finalización de la tarea: {{modelo.FECHA_FINAL_DESCRIPCION}}</small></li>
            <li class="list-group-item "><small>Solicitud de apoyo: {{modelo.DESCRIPCION}}</small></li>
            <li class="list-group-item list-group-item-primary" *ngIf="modelo.RESPUESTA"><small>Respuesta: {{modelo.RESPUESTA}}</small></li>
        </ul>

        <hr class="mb-4">

        <div class="example-container" *ngIf="!modelo.RESPUESTA">
            <mat-form-field>
                <textarea matInput placeholder="Respuesta a la solicitud" name="respuesta" #respuesta="ngModel"
                    [(ngModel)]="modelo.RESPUESTA_DES" value={{modelo.RESPUESTA_DES}} required></textarea>
                <mat-error *ngIf="!respuesta.valid && respuesta.touched">
                    Ingrese la respuesta a la solicitud
                </mat-error>
            </mat-form-field>
        </div>

        <hr class="mb-4">

        <div class="btn-group btn-group-toggle" *ngIf="!modelo.RESPUESTA">
            <button mat-icon-button type="submit" matTooltip="Guardar y salir">
                <mat-icon>save</mat-icon>
            </button>          
        </div>
 
    </form>
</div>