<h5 class="jumbotron-heading">Catálogos</h5>

<hr class="mb-4">

<div class="container-fluid">
    <mat-tab-group>
        <mat-tab label="Tipo dirección">
            <app-tipo-direccion></app-tipo-direccion>
        </mat-tab>

        <mat-tab label="Dirección">
            <app-direccion></app-direccion>
        </mat-tab>

        <mat-tab label="Categoría de tarea">
            <app-categoria-tarea-operacion></app-categoria-tarea-operacion>
        </mat-tab>
        
        <mat-tab label="Cargo">
            <app-cargo></app-cargo>
        </mat-tab>

        <mat-tab label="Empleado">
            <app-empleado></app-empleado>
        </mat-tab>

    </mat-tab-group>
</div>