
<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-12 text-center">
            <h6 class="jumbotron-heading">Tablero de tareas</h6>
        </div>
    </div>

    <div class="row">
        <div class="col bg-light">
            <div class="font-italic text-center">
                <p>Pendientes de inicio</p>
            </div>

            <div class="card mb-3" style="border-color: red;" *ngFor="let i of tareapendienterojo">
                <div class="card-body">
                    <p><small>Tarea: {{i.EDT_TAREA}}, <em>responsable:<mark>{{i.RESPONSABLE}}</mark>, días retrasados:
                                {{i.PENDIENTE_DIAS_RETRASADOS}}</em> </small></p>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-info" [routerLink]="['/pendiente', i.ID]"><small>Ver..</small></button>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="border-color: yellow;" *ngFor="let i of tareapendienteamarillo">
                <div class="card-body">
                    <p><small>Tarea: {{i.EDT_TAREA}}, <em>responsable:<mark>{{i.RESPONSABLE}}</mark></em></small></p>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-info" [routerLink]="['/pendiente', i.ID]"><small>Ver..</small></button>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="border-color: green;" *ngFor="let i of tareapendienteverde">
                <div class="card-body">
                    <p><small>Tarea: {{i.EDT_TAREA}}, <em>responsable:<mark>{{i.RESPONSABLE}}</mark></em></small></p>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-info" [routerLink]="['/pendiente', i.ID]"><small>Ver..</small></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="font-italic text-center">
                <p>En ejecución</p>
            </div>

            <div class="card mb-3" style="border-color: red;" *ngFor="let i of tareaejecucionrojo">
                <div class="card-body">
                    <p><small>Tarea: {{i.EDT_TAREA}}, <em>responsable:<mark>{{i.RESPONSABLE}}</mark>, días retrasados:
                                {{i.PENDIENTE_DIAS_RETRASADOS}}</em> </small></p>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-info" [routerLink]="['/ejecucion', i.ID]"><small>Ver..</small></button>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="border-color: yellow;" *ngFor="let i of tareaejecucionamarillo">
                <div class="card-body">
                    <p><small>Tarea: {{i.EDT_TAREA}}, <em>responsable:<mark>{{i.RESPONSABLE}}</mark></em></small></p>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-info" [routerLink]="['/ejecucion', i.ID]"><small>Ver..</small></button>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="border-color: green;" *ngFor="let i of tareaejecucionverde">
                <div class="card-body">
                    <p><small>Tarea: {{i.EDT_TAREA}}, <em>responsable:<mark>{{i.RESPONSABLE}}</mark></em></small></p>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-info" [routerLink]="['/ejecucion', i.ID]"><small>Ver..</small></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col bg-light">
            <div class="font-italic text-center">
                <p>Finalizadas</p>
            </div>

            <div class="card mb-3" style="border-color: red;" *ngFor="let i of tareafinalizadarojo">
                <div class="card-body">
                    <p><small>Tarea: {{i.EDT_TAREA}}, <em>responsable:<mark>{{i.RESPONSABLE}}</mark>, días retrasados:
                                {{i.PENDIENTE_DIAS_RETRASADOS}}</em> </small></p>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-info"><small>Ver..</small></button>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="border-color: yellow;" *ngFor="let i of tareafinalizadaamarillo">
                <div class="card-body">
                    <p><small>Tarea: {{i.EDT_TAREA}}, <em>responsable:<mark>{{i.RESPONSABLE}}</mark></em></small></p>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-info"><small>Ver..</small></button>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="border-color: green;" *ngFor="let i of tareaefinalizadanverde">
                <div class="card-body">
                    <p><small>Tarea: {{i.EDT_TAREA}}, <em>responsable:<mark>{{i.RESPONSABLE}}</mark></em></small></p>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-info"><small>Ver..</small></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="font-italic text-center">
                <p>Canceladas</p>
            </div>

            <div class="card mb-3" *ngFor="let i of tareacanclada">
                <div class="card-body">
                    <p><small>Tarea: {{i.EDT_TAREA}}, <em>responsable:<mark>{{i.RESPONSABLE}}</mark></em></small></p>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-info"><small>Ver..</small></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-fijo">
    <div class="row">
        <div class="col col-lg-11"></div>
        <div class="col col-lg-1">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="usuarioModelo.JEFE">
                    <mat-icon>person_outline</mat-icon>
                    <span [routerLink]="['/tablero']">Ver tarea de mi equipo</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>view_headline</mat-icon>
                    <span [routerLink]="['/tarea-a']">Nueva Tarea</span>
                </button>
            </mat-menu>
        </div>

    </div>
</div>