<div class="container">
    <form #formAdd="ngForm" (ngSubmit)="onSubmit(buttonType)">

        <h6>Agregar nuevo tipo de dirección</h6>
        <hr class="mb-4">

        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Nombre del tipo de dirección" name="nombre" #nombre="ngModel"
                    [(ngModel)]="modelo.NOMBRE" value={{modelo.NOMBRE}} required>
                <mat-error *ngIf="!nombre.valid && nombre.touched">
                    Ingrese el nombre del tipo de dirección
                </mat-error>
            </mat-form-field>

        </div>

        <hr class="mb-4">

        <div class="btn-group btn-group-toggle">
            <button mat-icon-button type="submit" (click)="onSubmit('S')" matTooltip="Guardar y salir">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button type="submit" (click)="onSubmit('SC')" matTooltip="Guardar y continuar">
                <mat-icon>playlist_add</mat-icon>
            </button>

            <button mat-icon-button type="button" [routerLink]="['/catalogo']" matTooltip="Cancelar">
                <mat-icon>clear</mat-icon>
            </button>
        </div>

    </form>
</div>