<div class="container">
    <div class="row">
        <div class="col col-lg-12 text-center">
            <h6 class="jumbotron-heading">Tablero de tareas</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-sm card" style="background-color: #FBEFEF;">
            <div class="card-header">
                <p>Atrasadas</p>
            </div>

            <div *ngFor="let i of tareaRoja_ejecucion">
                <div style="background-color: whitesmoke; border-radius: 2px;">
                    <p class="mb-2" style="padding: 2px;"><small><a
                                [routerLink]="['/ejecucion', i.ID]">Tarea:{{i.EDT_TAREA}}</a>,
                            <em>responsable:{{i.RESPONSABLE}}, estado: Ejecución, días
                                retrasados:{{i.PENDIENTE_DIAS_RETRASADOS}}</em>
                        </small></p>
                </div>
            </div>

            <div *ngFor="let i of tareaRoja_noIniciada">
                <div style="background-color: whitesmoke; border-radius: 2px;">
                    <p class="mb-2" style="padding: 2px;"><small><a
                                [routerLink]="['/pendiente', i.ID]">Tarea:{{i.EDT_TAREA}}</a>,
                            <em>responsable:{{i.RESPONSABLE}}, estado: No iniciada, días
                                retrasados:{{i.PENDIENTE_DIAS_RETRASADOS}}</em></small></p>
                </div>
            </div>

        </div>

        <div class="col-sm card" style="background-color: #F7F8E0;">
            <div class="card-header">
                <p>Vencen hoy</p>
            </div>

            <div *ngFor="let i of tareaAmarilla_ejecucion">
                <div style="background-color: whitesmoke; border-radius: 2px;">
                    <p class="mb-2" style="padding: 2px;"><small><a
                                [routerLink]="['/ejecucion', i.ID]">Tarea:{{i.EDT_TAREA}}</a>,
                            <em>responsable:{{i.RESPONSABLE}}, estado: Ejecución</em>
                        </small></p>
                </div>
            </div>

            <div *ngFor="let i of tareaAmarilla_noIniciada">
                <div style="background-color: whitesmoke; border-radius: 2px;">
                    <p class="mb-2" style="padding: 2px;"><small><a
                                [routerLink]="['/pendiente', i.ID]">Tarea:{{i.EDT_TAREA}}</a>,
                            <em>responsable:{{i.RESPONSABLE}}, estado: No iniciada</em></small></p>
                </div>
            </div>

        </div>

        <div class="col-sm card" style="background-color: #E0F8E0;">
            <div class="card-header">
                <p>En ejecución</p>
            </div>

            <div *ngFor="let i of tareaVerde_ejecucion">
                <div style="background-color: whitesmoke; border-radius: 2px;">
                    <p class="mb-2" style="padding: 2px;"><small><a
                                [routerLink]="['/ejecucion', i.ID]">Tarea:{{i.EDT_TAREA}}</a>,
                            <em>responsable:{{i.RESPONSABLE}}, estado: Ejecución</em>
                        </small></p>
                </div>
            </div>

            <div *ngFor="let i of tareaVerde_noIniciada">
                <div style="background-color: whitesmoke; border-radius: 2px;">
                    <p class="mb-2" style="padding: 2px;"><small><a
                                [routerLink]="['/pendiente', i.ID]">Tarea:{{i.EDT_TAREA}}</a>,
                            <em>responsable:{{i.RESPONSABLE}}, estado: No iniciada</em></small></p>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="footer-fijo">
    <div class="row">
        <div class="col col-lg-11"></div>
        <div class="col col-lg-1">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="usuarioModelo.JEFE">
                    <mat-icon>person_outline</mat-icon>
                    <span [routerLink]="['/tablero-jefe']">Ver mis tareas</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>view_headline</mat-icon>
                    <span [routerLink]="['/tarea-a']">Nueva Tarea</span>
                </button>
            </mat-menu>
        </div>

    </div>
</div>