<div class="container">
    <form #formAdd="ngForm" (ngSubmit)="onSubmit()">

        <h6>Agregar nueva dirección</h6>
        <hr class="mb-4">

        <div class="example-container">
            <mat-form-field>
                <mat-select placeholder="Tipo dirección" name="tipodireccion" #tipodireccion="ngModel"
                    [(ngModel)]="modelo.TIPO_DIRECCION_ID" required>
                    <mat-option *ngFor='let r of tipoDireccionModelo' [value]='r.ID' >
                        {{r.NOMBRE}}
                    </mat-option>
                </mat-select>

            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Nombre de la dirección" name="nombre" #nombre="ngModel"
                    [(ngModel)]="modelo.NOMBRE" value={{modelo.NOMBRE}} required>
                <mat-error *ngIf="!nombre.valid && nombre.touched">
                    Ingrese el nombre de la dirección
                </mat-error>
            </mat-form-field>

        </div>

        <hr class="mb-4">

        <div class="btn-group btn-group-toggle">
            <button mat-icon-button type="submit"  matTooltip="Guardar y salir">
                <mat-icon>save</mat-icon>
            </button>
               
            <button mat-icon-button type="button" [routerLink]="['/catalogo']" matTooltip="Cancelar">
                <mat-icon>clear</mat-icon>
            </button>
        </div>

    </form>
</div>